*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar 
{
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px ;
    padding-left: 60px;
    padding-right: 60px;
    height: 56.5px;
    z-index: 999;
    background-color: #ffffff;
    transition: transform 0s ease, opacity 0s ease; /* Hiệu ứng chuyển động */
    transform: translateY(-100%); 
    opacity: 1; 
    border-bottom: 1px solid;
}
/* Logo */
.navbar_img
{
    display: flex;
    align-items: center;
    margin-left: 10px; /* Dịch chuyển qua phải */
}
.navbar_img img {
    width: 85px;
    height: 100px;
    padding-bottom: 20px;
}

.navbar_list {
    display: flex;
    flex-grow: 1;
    justify-content:center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -96px;
}

.navbar_list_ {
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    margin:  0 20px;
    margin-top: -23px;
    position: relative; /* Thêm để định vị gạch chân chính xác */
}

.navbar_list_ a {
    text-decoration: none;
}

.navbar_list_ a:hover 
{
    text-decoration-line: underline;
    text-decoration-thickness: 1px; /* Độ dày của gạch chân */

}

.login 
{
    margin-top: 39px;
    text-align: center;
    padding-top: 70px;
    padding-left: 500px;
    padding-right: 500px;
    width: 100%;
    height: 800px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-shadow: 3px 3px rgb(247, 242, 242);
}   

.login h3 
{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.login p 
{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.42857143;
}

.login input 
{
    font-family: inherit;
    font-size: 14px;
    width: 95.5%;
    border: none;
    height: 20px;
    margin-bottom: 13px;
    margin-top: 13px;
    border-bottom: 1px solid #cccbcb; /* Chỉ hiển thị viền dưới */
}

#input_error
{
    font-size: 15px;
    margin-left: -160px;
    color: red;
    display: none;
}

.login button 
{
    width: 95%;
    background-color: black;
    height: 35px;
    margin-bottom: 15px;
}

.login a 
{
    font-family: inherit;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.p_dangnhap{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
.login .dieukhoandichvu
{
    cursor: pointer;
}

.login .dieukhoandichvu:hover 
{
    text-decoration-line: underline;
}


.h7 img 
{
    width: calc(100% - 120px);
}

.h7 ul
{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
}

.h7 ul li 
{
    list-style-type: none;
    padding-left: 30px;
}

.h7 ul li a 
{
    text-decoration: none;
}

.h7 .h7_1
{
    width: 400px;
    margin-left: 55px;
    line-height: 1.7;
}

.h7 .h7_1 .h7_12{
    margin-top: 25px;
}
.h7 .h7_2{
    width: auto;
    margin-left: 20px;
    margin-right: -75px;
}




.h7 .h7_2 .h7_22
{
    margin-bottom: 13px;
}

.h7 .h7_2 .h7_22_information
{
    
    margin-top: 6px;
    font-size: 14px;
    font-family:MuliDisplayVN;
    color: grey;
}
.h7_22_information:hover{
    color: black;
    cursor: pointer;
}

.h7 .h7_2 img
{
    width: 410px;
}

.fa-play {
  color: gray; /* Đặt màu thành xám */
  font-size: 5px; /* Điều chỉnh kích thước */
  margin-left: 5px; /* Tạo khoảng cách với nội dung */
  vertical-align:auto;
}
.h7 .h7_3{
    width: auto;
}
.h7 .h7_3 .h7_33
{
    margin-bottom: 12px;
    margin-left: 86px;
}

.h7 .h7_3 img
{
    width: 410px;
    margin-left: 86px;
}

.h7_33_information {
    display: flex; /* Hiển thị theo hàng ngang */
    list-style-type: none; /* Xóa dấu đầu dòng */
    padding: 0; /* Xóa khoảng cách mặc định */
    margin-top: -2px; /* Khoảng cách từ tiêu đề đến danh sách */
}

.h7_33_information li {
    margin-right: 50px;/*khoang cách giữa các biểu tượng*/
    margin-top: -35px;
    margin-left: -50px;
    font-size: 19px;
   
}

.h7_33_information li:last-child {
    margin-right: 0; /* Không thêm khoảng cách cho phần tử cuối cùng */
}






.h8 
{
    margin-top: 40px;
    text-align: center;

}
.h8 .h8_1 ul
{
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 1519px;
    height: 76px;
    margin-top: -15px;
    margin-bottom: 13px;
}

.h8 .h8_1 ul li 
{
    list-style-type: none;
    margin-top: 15px;
}

.h8 .h8_1 .h8_1_1 
{   
    font-family:inherit;
    font-weight: 500;
    font-size: 13px;
    margin-left: 110px;
    position: relative;
    margin-top: 15px;
}

.h8 .h8_1 .h8_1_2
{
    font-family:inherit;
    font-weight: 500;
    margin-left: 230px;
    position: relative;
    margin-top: 15px;
}
.h8 .h8_1_2{
    font-size: 13px;
    left: 75px;
}
.h8 .h8_1 ul li p 
{
    font-size: 13px;
} 

.h8 .h8_1 ul li i 
{
    position: absolute;
    right: -16px;
    margin-top: 3px;
    top: 0px;
    cursor: pointer;
}
.h8 .h8_1 a
{
    text-decoration: none;
    color: black;
}
.h8 .h8_2_1 p{
    font-family:inherit;
    font-size: 13px;
}

.h8 .h8_2
{
    display: inline-flex;
    margin-top: 20px;
    width: 1300px;
    margin-right: -5px;
}


.h8_2_1 {
    display: flex; /* Hiển thị theo hàng ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 15px 0;
    margin-top: -31px;
    margin-left: -10px;
}
.h8_2_1 i {
    margin-right: 4px; /* Khoảng cách giữa biểu tượng và văn bản */
}
.fa-chevron-down{
    font-size: 10px;
}


.h8 .h8_2 .h8_2_2
{
    font-size: 13px;
    float: right;
    padding-left: 800px;
    margin-top: -20px;
}

.h8 .h8_2 .h8_2_2 img
{
    padding-left: 95px;
    width: 195px;
    margin-right: -129px;
    margin-top: 0;
}

.h8 .h8_2_2 p 
{

    font-family:inherit;
    margin-top: -2px;
    font-size: 13px;
    position: relative;
    left: 69px; /* Điều chỉnh giá trị để nhích chữ qua phải */
    margin-bottom: 15px;
}








