*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

body
{
    background-color: #FFFFFF;
    font-family: 'MuliDisplayVN', sans-serif;
    text-decoration: color(black black black black);
    display: flex;
    justify-content: space-around;
}
/* Thanh màu đỏ */
.top-bar{
    background-color: #d32f2f;
    width: 100%;
    height: 31px;
    justify-content: center;
    align-items: center;
}
.top-bar img{
    margin-left: 0;
    height: 31.5px;

}
/* Thanh chứa logo, hàng mới, sản phảm... */
.navbar 
{
    position: absolute;
    top: 88px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px ;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 56.5px;
    z-index: 999;
    background-color: #ffffff;
    transition: transform 0s ease, opacity 0s ease; /* Hiệu ứng chuyển động */
    transform: translateY(-100%); 
    opacity: 1; 
}
/* Logo */
.navbar_img
{
    display: flex;
    align-items: center;
    margin-left: 10px; /* Dịch chuyển qua phải */
}
.navbar_img img {
    width: 85px;
    height: 100px;
    padding-bottom: 13.5px;
}
/* Mục hàng mới, sản phảm,... */
.navbar_list {
    display: flex;
    flex-grow: 1;
    justify-content:center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 165px;
}

.navbar_list_ {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    margin:  0 20px;
    margin-top: -18px;
    position: relative; /* Thêm để định vị gạch chân chính xác */
}
.navbar_list_a{
    font-weight: bold;
}

.navbar_list_ a {
    text-decoration: none;
}
.navbar .navbar_list .navbar_list_ {
    position: relative; /* Để pseudo-element được căn cứ theo phần tử này */
}
.navbar {
    overflow: visible; /* Cho phép phần tử con của navbar hiển thị ra ngoài */
}

.navbar .navbar_list .navbar_list_:hover::before {
    content: "";
    position: fixed; /* Đặt vị trí cố định cho toàn màn hình */
    top: 56px; /* Khoảng cách từ trên xuống để căn dưới navbar */
    left: 0; /* Căn bên trái của màn hình */
    width: 98.9vw; /* Độ rộng khớp với chiều ngang của màn hình */
    height: 3px;
    background-color: #ffffff;
    z-index: -1;
}

.navbar .navbar_list .navbar_list_:hover::after {
    content: "";
    position: absolute;
    left: 50%; /* Đặt ở giữa phần tử */
    transform: translateX(-50%); /* Căn giữa pseudo-element */
    width: 120%; /* Gạch chân khớp với độ rộng của mục */
    top: 37px;
    height: 0.1px;
    background-color: rgb(0, 0, 0); /* Màu sắc của border */
}

.sanpham_list_
{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 13px;
    left: 0;
    right: 0;
    width: 1519.5px;
    height: 100vh;
    margin-top: 23px;
    letter-spacing: 0.5px;
    background-color: #ffffff;
    padding-left: 150px;
    padding-top: 60px;
    padding-right: 400px;
    z-index: 999;
}

.sanpham_list_ li 
{
    list-style: none;
    line-height: 45px;
    padding: -20px;
}

.sanpham_list_ a 
{
    color: black;
    text-transform: capitalize;/*chữ cái đầu viết hoa còn lại viết thường*/
}

.sanpham_list
{
    display: flex;
    flex-direction: column;
    
    
}
.sanpham_list_{
    font-size: 14px;
}

.sanpham_list_information
{
    position: absolute;
    margin-top: 670px;
    display: none;
}

.sanpham_list_ a:hover
{
    text-decoration: underline;
}


.navbar_input
{
    position: relative;
    margin-bottom: 20px;/*điều chỉnh thanh tìm kiếm cho nó ở chính giữa*/
    margin-right: 100px;
    font-size: 13px;
   
    
}
.navbar_input input 
{
    font-size: 13px;
    border: none;/*Không lấy khung tìm kiếm*/
    height: 20px;
    width: 100px;
    margin-top: -30px;
    padding:  5px;
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển động mượt mà */
    outline: none; /* Loại bỏ viền khi focus */
    border-bottom: 1px solid transparent; /* Viền dưới ban đầu */
}
.navbar_input input:focus {
    border-bottom: 1px solid black; /* Hiện viền dưới khi nhấp vào */
    background-color: #f9f9f9; /* Có thể thay đổi màu nền khi focus */
}
.navbar_input.active input {
    opacity: 1; /* Hiện input khi active */
    pointer-events: auto; /* Cho phép nhập liệu */
}
.navbar_input input:hover {
  border-bottom: 0.5px solid black;
  width: 130px;
  padding: 0 15px;

  transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển động mượt mà */
}

  .navbar_input:hover input::placeholder {
    color: transparent; /* Ẩn placeholder khi hover */
  }
  .navbar_input.active input {
    opacity: 1; /* Hiện input khi nhấn */
    pointer-events: auto; /* Cho phép nhập */
  }
  .navbar_input::before,
.navbar_input::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0.5px; /* Độ dày của viền */
    background-color: black; /* Màu viền */
    transition: width 0.3s ease-in-out; /* Hiệu ứng chuyển động cho chiều rộng */
}

.navbar_input::before {
    left: 50%; /* Đặt ở giữa */
    width: 0; /* Bắt đầu với chiều rộng bằng 0 */
}

.navbar_input::after {
    left: 50%; /* Đặt ở giữa */
    width: 0; /* Bắt đầu với chiều rộng bằng 0 */
}

.navbar_input.active::before {
    width: 50%; /* Kéo dài sang bên trái */
    transform: translateX(-100%); /* Di chuyển sang trái */
}

.navbar_input.active::after {
    width: 50%; /* Kéo dài sang bên phải */
    transform: translateX(100%); /* Di chuyển sang phải */
}
.navbar_user #shoppingcart
{
    cursor: pointer;
    margin-bottom: 25px;
    font-size: 13px;
    margin-right: 20px;
}
.h1{
    width: 1550px;
    height: 850px;
    margin-top: -180px;

}
.h1 img 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: block; /* Ngăn ngừa khoảng trống dưới ảnh */
    align-items: center;
    object-fit: contain;
}
.text_1 p{
    text-align: center;
    margin-top: -200px;
    font-size: 25px;
    font-family: 'MuliDisplayVN', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .container a{
    font-size: 16px;
    font-weight: bolder;
  }
  .sale-button {
    background-color: rgb(220, 38, 38); /* Màu đỏ tươi */
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  .sale-link {
    color: rgb(220, 38, 38); /* Màu đỏ tươi */
    text-decoration: underline;
    padding: 10px 20px;
    margin: 10px;
  }
  
  .sale-link:hover {
    background-color: rgb(220, 38, 38);
    color: white;
    cursor: pointer;
  }
  .sale-button, .sale-link {
    margin: 2px; /* Giảm margin xuống còn 2px */
  }
  .choice
{
    /* float: right; */
    padding-left: 1150px;
    display: flex;
    margin-top: 50px;
    margin: 50px 0 0 0;
    padding-right: 10px;
    margin-bottom: 40px;
   


}

.choice .boloc
{
    margin-right: 35px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
}
.choice .boloc img
{
    height: 7px;
    margin-left: 20px;
    padding-bottom: 2px;
}
.choice p{
    font-size: 14px;
}

.choice select
{
    margin-right: 80px;
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 14px;
    
}
.selection{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.option{
    display: none;
    top:100%;
}
.selection:focus  .options {
    display: block;
  }


.h2 {
    margin-top: 70px;
    padding-left: 100px;
    padding-right: 45px;
    margin-left: -6px;
    padding-bottom: 82px;
}

.h2 .h2_image {
    margin-top: -75px;
    height: 531px;
    background-color: #ffffff;
}

.h2_information {
    margin-top: 10px;
}

.h2 img {
    max-width: 100%;
    height: auto;
}

.h2 .h2_image {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}

.h2 .h2_image li {
    list-style-type: none;
    width: 25%;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}

.pro-name {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 10px 0;
}

.pro-price {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.product-block {
    position: relative;
    width: 297px;
    height: 546px;
    background-color: #ffffff;
    z-index: 1;

}

.product-block:hover {
    border: 1px solid #eee;
    z-index: 2;
}

.product-img {
    position: relative;
    overflow: hidden;
}

.product-img .img-hover {
    display: none;
}

.product-img .img-loop {
    display: block;
}

.product-img:hover .img-loop {
    display: none;
}

.product-img:hover .img-hover {
    display: block;
}

.btn-buy {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 8px 31px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.product-img img {
    width: 297px;
    height: 375px;
    object-fit: cover;
    /*object-position: 50% 80%;*/
}

.pro-options {
    display: none;
    margin-top: 18px;
    text-align: center;
}

.product-block:hover .pro-options,
.color-option:hover ~ .pro-options {
    display: block; 
}

.pro-colors {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
}

.color-option {
    display: inline-block;
    transition: transform 0.3s ease, border 0.3s ease;
    padding: 3px;
    border-radius: 50%;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Giữ hiệu ứng hover và trạng thái được chọn cho màu sắc */
.color-option:hover, .color-option.active {
    transform: scale(1.1);
    border: 1px solid gray;
}

.product-sizes .size-option {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

/* Giữ hiệu ứng hover và trạng thái được chọn cho kích thước */
.product-sizes .size-option.selected, 
.product-sizes .size-option:hover {
    border: 1px solid gray;
}

/* Hiển thị danh sách kích thước khi hover vào ô màu */
.product-sizes.visible {
    display: block;
}
.hr6 {
    width: 98.75%; /* Chiếm 100% chiều rộng của phần tử cha */
    height: 0.5px; /* Độ dày 0.5 pixel */
    border: none; /* Không có viền */
    background-color: #e7e4e4; /* Màu xám nhạt */
    margin-bottom: 25px;
    margin: 40px 11px;
    margin-top: 50px;
  
  }

.h7 img 
{
    width: calc(100% - 120px);
}

.h7 ul
{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 10px;
}

.h7 ul li 
{
    list-style-type: none;
    padding-left: 30px;
}

.h7 ul li a 
{
    text-decoration: none;
}

.h7 .h7_1
{
    width: 400px;
    margin-left: 55px;
    line-height: 1.7;
}

.h7 .h7_1 .h7_12{
    margin-top: 25px;
}
.h7 .h7_2{
    width: 400px;
    margin-left: 20px;
    margin-right: -75px;
}




.h7 .h7_2 .h7_22
{
    margin-bottom: 10px;
}

.h7 .h7_2 .h7_22_information
{
    margin-top: 10px;
    font-size: 15px;
    color: grey;
}
.h7_22_information:hover{
    color: black;
    cursor: pointer;
}

.h7 .h7_2 img
{
    width: 410px;
}

.fa-play {
  color: gray; /* Đặt màu thành xám */
  font-size: 5px; /* Điều chỉnh kích thước */
  margin-left: 5px; /* Tạo khoảng cách với nội dung */
  vertical-align:auto;
}
.h7 .h7_3{
    width: 400px;
}
.h7 .h7_3 .h7_33
{
    margin-bottom: 12px;
    margin-left: 96px;
}

.h7 .h7_3 img
{
    width: 410px;
    margin-left: 96px;
}

.h7_33_information {
    display: flex; /* Hiển thị theo hàng ngang */
    list-style-type: none; /* Xóa dấu đầu dòng */
    padding: 0; /* Xóa khoảng cách mặc định */
    margin-top: -2px; /* Khoảng cách từ tiêu đề đến danh sách */
}

.h7_33_information li {
    margin-right: 35px;/*khoang cách giữa các biểu tượng*/
    margin-top: -30px;
    margin-left: -40px;
    font-size: 20px;
   
}

.h7_33_information li:last-child {
    margin-right: 0; /* Không thêm khoảng cách cho phần tử cuối cùng */
}
.hr7 {
    width: 87%; /* Chiếm 100% chiều rộng của phần tử cha */
    height: 0.5px; /* Độ dày 0.5 pixel */
    border: none; /* Không có viền */
    background-color: #e7e4e4; /* Màu xám nhạt */
    margin-bottom: 15px;
    margin-top: 25px;
    margin-left: 100px;
  }





.h8 
{
    margin-top: 40px;
    text-align: center;

}
.h8 .h8_1 ul
{
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 1519px;
    height: 76px;
    margin-top: -15px;
    margin-bottom: 13px;
}

.h8 .h8_1 ul li 
{
    list-style-type: none;
    margin-top: 15px;
}

.h8 .h8_1 .h8_1_1 
{   
    font-size: 13px;
    margin-left: 110px;
    position: relative;
    margin-top: 15px;
}

.h8 .h8_1 .h8_1_2
{
    margin-left: 230px;
    position: relative;
    margin-top: 15px;
}
.h8 .h8_1_2{
    font-size: 13px;
    left: 75px;
}
.h8 .h8_1 ul li p 
{
    font-size: 13px;
} 

.h8 .h8_1 ul li i 
{
    position: absolute;
    right: -16px;
    margin-top: 3px;
    top: 0px;
    cursor: pointer;
}
.h8 .h8_1 a
{
    text-decoration: none;
    color: black;
}
.h8 .h8_2_1 p{
    font-size: 13px;
}

.h8 .h8_2
{
    display: inline-flex;
    margin-top: 20px;
    width: 1300px;
    margin-right: 100px;
}


.h8_2_1 {
    display: flex; /* Hiển thị theo hàng ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 15px 0;
    margin-top: -51px;
    margin-left: -10px;
    font-weight:lighter;
}
.h8_2_1 i {
    margin-right: 4px; /* Khoảng cách giữa biểu tượng và văn bản */
}
.fa-chevron-down{
    font-size: 10px;
}


.h8 .h8_2 .h8_2_2
{
    margin-right: -300px;
    font-size: 13px;
    float: right;
    padding-left: 800px;
    margin-top: -20px;
}

.h8 .h8_2 .h8_2_2 img
{
    padding-left: 95px;
    width: 195px;
    margin-right: -129px;
    margin-top: 0;
}

.h8 .h8_2_2 p 
{
    margin-top: 2.5px;
    font-size: 13px;
    margin-bottom: 13px;
    position: relative;
    left: 69px; /* Điều chỉnh giá trị để nhích chữ qua phải */
}
.return {
    position: fixed;
    bottom: 105px; /* Đặt vị trí gần cuối trang */
    right: -15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    opacity: 0; /* Ban đầu là ẩn */
    cursor: pointer;
    text-align: center;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Thêm hiệu ứng visibility */

}

.return p {
    font-size: 12px;
    transform: rotate(-90deg); /* Xoay văn bản dọc */
    white-space: nowrap;
    font-weight: bold; /* In đậm chữ */
    color: rgb(0, 0, 0); /* Tô màu chữ, bạn có thể thay màu theo ý muốn */
}

.return i {
    position: relative;
    bottom: 48px;
    font-size: 25px; /* Điều chỉnh kích thước của mũi tên */
}

.vertical-line {
    position: relative;
    width: 1.4px; /* Độ dày của dấu gạch */
    height: 25px; /* Chiều dài của dấu gạch */
    background-color: black; /* Màu sắc của dấu gạch */
    bottom: 15px;
}


.user 
{
    padding-left: 30px;
    border: 1px solid black;
    width: 600px;
    background-color: white;
    height: 100%;
    z-index: 1000;
    position: fixed; /* Đặt div cố định trên màn hình */
    top: 20px; /* Cách mép trên 20px */
    right: 20px; /* Cách mép phải 20px */
}



.giohang 
{
    margin-bottom: 5px;
}

.giohang_information 
{
    margin-bottom: 10px;
}

.giohang_status 
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.totalprice 
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 20px;
}

.user a 
{
    text-decoration: none;
    color: white;
}

.user .link 
{
    background-color: gray;
    text-align: center;
    padding: 10px;
}

.user i 
{
    position: absolute;
    font-size: 30px;
    top: 50px;
    right: 20px;
    cursor: pointer;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%); /* Trượt thanh trắng lên */
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease; /* Hiệu ứng chuyển động */
  }
.navbar.show {
    transform: translateY(0); /* Trượt xuống khi cuộn */
    opacity: 1; /* Hiển thị thanh trắng */
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Đổ bóng khi cố định */
}