*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 400;
	font-style: normal;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-Regular.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 500;
	font-style: normal;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-SemiBold.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 700;
	font-style: normal;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-Bold.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 800;
	font-style: normal;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-ExtraBold.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 900;
	font-style: normal;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-Black.ttf?v=2326')
}

@font-face {
	font-family: MuliDisplayVN;
	font-weight: 300;
	font-style: normal;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-Light.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 200;
	font-style: normal;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-ExtraLight.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 400;
	font-style: italic;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-Italic.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 500;
	font-style: italic;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-SemiBoldItalic.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 700;
	font-style: italic;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-BoldItalic.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 800;
	font-style: italic;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-ExtraBoldItalic.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 900;
	font-style: italic;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-BlackItalic.ttf?v=2326')
}

@font-face {
	font-family: MuliDisplayVN;
	font-weight: 300;
	font-style: italic;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-LightItalic.ttf?v=2326')
}
@font-face {
	font-family: MuliDisplayVN;
	font-weight: 200;
	font-style: italic;
	src: url('//theme.hstatic.net/1000003969/1001234388/14/MuliDisplayVN-ExtraLightItalic.ttf?v=2326')
}
body
{
    background-color: #FFFFFF;
    font-family: 'MuliDisplayVN', sans-serif;
    text-decoration: color(black black black black);
    display: flex;
    justify-content: space-around;
}
/* Thanh màu đỏ */
.top-bar{
    background-color: #c32a2e;
    width: 100%;
    height: 31px;
    justify-content: center;
    align-items: center;
}
.top-bar img{
    margin-left: 0;
    height: 31.5px;

}

/* Thanh chứa logo, hàng mới, sản phảm... */
.navbar 
{
    position: absolute;
    top: 88px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px ;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: 56.5px;
    z-index: 998;
    background-color: #ffffff;
    transition: transform 0s ease, opacity 0s ease; /* Hiệu ứng chuyển động */
    transform: translateY(-100%); 
    opacity: 1; 
}
/* Logo */
.navbar_img
{
    display: flex;
    align-items: center;
    margin-left: 10px; /* Dịch chuyển qua phải */
}
.navbar_img img {
    width: 85px;
    height: 100px;
    padding-bottom: 13.5px;
}
/* Mục hàng mới, sản phảm,... */
.navbar_list {
    display: flex;
    flex-grow: 1;
    justify-content:center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 41px;
}

.navbar_list_ {
    font-family: MuliDisplayVN;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    margin:  0 20px;
    margin-top: -18px;
    position: relative; /* Thêm để định vị gạch chân chính xác */
}
.navbar_list_a{
    font-weight: bold;
}

.navbar_list_ a {
    text-decoration: none;
}
.navbar .navbar_list .navbar_list_ {
    position: relative; /* Để pseudo-element được căn cứ theo phần tử này */
}
.navbar {
    overflow: visible; /* Cho phép phần tử con của navbar hiển thị ra ngoài */
}

.navbar .navbar_list .navbar_list_:hover::before {
    content: "";
    position: fixed; /* Đặt vị trí cố định cho toàn màn hình */
    top: 56px; /* Khoảng cách từ trên xuống để căn dưới navbar */
    left: 0; /* Căn bên trái của màn hình */
    width: 98.9vw; /* Độ rộng khớp với chiều ngang của màn hình */
    height: 3px;
    background-color: #ffffff;
    z-index: -1;
}

.navbar .navbar_list .navbar_list_:hover::after {
    content: "";
    position: absolute;
    left: 50%; /* Đặt ở giữa phần tử */
    transform: translateX(-50%); /* Căn giữa pseudo-element */
    width: 120%; /* Gạch chân khớp với độ rộng của mục */
    top: 37px;
    height: 0.1px;
    background-color: rgb(0, 0, 0); /* Màu sắc của border */
}
.navbar .navbar_list .red-border:hover::after {
    background-color: red; /* Màu đỏ */
}
/* Các mục còn lại có border màu đen khi hover */
.navbar .navbar_list .navbar_list_:not(.red-border):hover::after {
    background-color: rgb(0, 0, 0); /* Màu đen */
}
.sanpham_list_
{
    position: fixed;  /* Giữ sanpham_list_ ở vị trí cố định */
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 36px;
    left: 0;
    right: 0;
    width: 1519.5px;
    height: 100vh;
    letter-spacing: 0.5px;
    background-color: #ffffff;
    padding-left: 150px;
    padding-top: 15px;
    padding-right: 400px;
    z-index: 999;
}

.sanpham_list_ li 
{
    list-style: none;
    line-height: 43px;
    padding: -20px;
}
.sanpham_list_ a 
{
    color: black;
    text-transform: capitalize;/*chữ cái đầu viết hoa còn lại viết thường*/
}

.sanpham_list
{
    display: flex;
    flex-direction: column; 
}
.sanpham_list_{
    font-family:MuliDisplayVN;
    font-size: 14px;
}

.sanpham_list_information
{
    position: absolute;
    margin-top: 670px;
    display: none;
}

.sanpham_list_ a:hover
{
    text-decoration: underline;
}
/* Đảm bảo không có phần tử nào che mất sanpham_list_ */
.sanpham_list_:hover {
    z-index: 10000; /* Khi hover lên sanpham_list_, đưa nó lên trên mọi phần tử */
}

.navbar_input {
    position: relative;
    display: inline-block;
    margin-top: -42px;
    margin-right: 53px;
}

.input-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; /* Kích thước ban đầu */
    overflow: hidden;
    border-bottom: 1px solid transparent; /* Viền dưới ban đầu */
    transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.input-wrapper:hover {
    width: 130px; /* Kích thước khi hover */
    border-color: black; /* Viền hiện lên khi hover */
}

.navbar_input input {
    font-size: 13px;
    border: none;
    height: 20px;
    width: 100%; /* Để input lấp đầy wrapper */
    padding: 5px;
    outline: none;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out; /* Chuyển đổi padding và width */
}

.input-wrapper:hover input {
    width: 130px; /* Mở rộng input khi hover */
    padding: 0 15px; /* Thêm padding khi hover để làm thanh tìm kiếm rộng hơn */
}

.navbar_input input::placeholder {
    transition: color 0.3s ease-in-out;
}

.input-wrapper:hover input::placeholder {
    color: transparent; /* Ẩn placeholder khi hover */
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 15px; /* Vị trí ban đầu */
    transform: translateY(-50%);
    transition: right 0.3s ease-in-out; /* Di chuyển mượt mà khi hover */
}
.input-wrapper:hover .search-icon {
    right: 5px; /* Di chuyển icon sang bên phải khi hover */
}


.navbar_user #shoppingcart
{
    cursor: pointer;
    margin-bottom: 23px;
    font-size: 13px;
    margin-right: 20px;
}
.navbar_user #dangnhap{
    margin-bottom: 23px;
    margin-right: 10px;
}
a {
    text-decoration: none; /* Loại bỏ gạch dưới */
    color: inherit; /* Thừa kế màu sắc từ phần tử cha (nếu muốn giữ màu sắc ban đầu) */
}

a:focus, a:active {
    outline: none;  /* Loại bỏ outline */
    border: none;   /* Loại bỏ border */
    cursor: pointer; /* Đảm bảo con trỏ vẫn là pointer khi hover */
}





.h1{
    width: 1519px;
    height: 850px;
    margin-top: -190px;

}
.h1 img 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    display: block; /* Ngăn ngừa khoảng trống dưới ảnh */
    align-items: center;
    object-fit: contain;
}
.text_1 p{
    font-family:MuliDisplayVN;
    font-weight: 700;
    text-align: center;
    margin-top: -200px;
    font-size: 24px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    height: 60px;
  }
.container a{
    font-family:MuliDisplayVN;
    font-size: 16px;
    font-weight: bolder;
}
.container {
    position: relative;
}

.fixed-container {
    position: fixed;
    top: 36px; /* Đặt dưới navbar */
    left: 0;
    width: 100%;
    z-index: 998;
    background-color: white;
}

.sale-button {
    font-family:MuliDisplayVN;
    background-color: rgb(220, 38, 38); /* Màu đỏ tươi */
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
}
.sale-link {
    font-family:MuliDisplayVN;
    color: rgb(220, 38, 38); /* Màu đỏ tươi */
    text-decoration: underline;
    padding: 10px 20px;
    margin: 10px;
}
  
.sale-link:hover {
    background-color: rgb(220, 38, 38);
    color: white;
    cursor: pointer;
}
.sale-button, .sale-link {
    margin: 2px; /* Giảm margin xuống còn 2px */
}
.choice
{
    /* float: right; */
    padding-left: 1150px;
    display: flex;
    margin-top: 50px;
    margin: 50px 0 0 0;
    padding-right: 10px;
    margin-bottom: 40px;
}

.choice .boloc
{
    font-family:MuliDisplayVN;
    margin-right: 35px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
}
.choice .boloc img
{
    height: 7px;
    margin-left: 20px;
    padding-bottom: 2px;
}
.choice p{
    font-family:MuliDisplayVN;
    font-size: 14px;
}

.choice select
{
    margin-right: 80px;
    margin-left: 10px;
    background: none;
    border: none;
    font-size: 14px;
    
}
.selection{
    font-family:MuliDisplayVN;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.option{
    display: none;
    top:100%;
}
.selection:focus  .options {
    display: block;
}
.container a, .sale-button, .sale-link, .choice .boloc, .choice p, .choice select {
    white-space: nowrap;
}


.h2 {
    margin-top: 70px;
    padding-left: 100px;
    margin-left: -6px;
    padding-bottom: 82px;
}

.h2 .h2_image {
    margin-top: -75px;
    height: 531px;
    background-color: #ffffff;
    margin-right: 52px;
}

.h2_information {
    margin-top: 10px;
}

.h2 img {
    max-width: 100%;
    height: auto;
}

.h2 .h2_image {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}

.h2 .h2_image li {
    list-style-type: none;
    width: 25%;
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}

.pro-name {
    font-family:MuliDisplayVN;
    font-weight: normal;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 10px 0;
}

.pro-price {
    font-family:MuliDisplayVN;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.product-block {
    font-family:MuliDisplayVN;
    position: relative;
    width: 297px;
    height: 546px;
    background-color: #ffffff;
    z-index: 1;

}

.product-block:hover {
    border: 1px solid #eee;
    z-index: 2;
}

.product-img {
    position: relative;
    overflow: hidden;
}

.product-img .img-hover {
    display: none;
}

.product-img .img-loop {
    display: block;
}

.product-img:hover .img-loop {
    display: none;
}

.product-img:hover .img-hover {
    display: block;
}

.btn-buy {
    font-family:MuliDisplayVN;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 8px 31px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.product-img img {
    width: 297px;
    height: 375px;
    object-fit: cover;
    /*object-position: 50% 80%;*/
}

.pro-options {
    display: none;
    margin-top: 18px;
    text-align: center;
}

.product-block:hover .pro-options,
.color-option:hover ~ .pro-options {
    display: block; 
}

.pro-colors {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 10px;
}

.color-option {
    display: inline-block;
    transition: transform 0.3s ease, border 0.3s ease;
    padding: 3px;
    border-radius: 50%;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Giữ hiệu ứng hover và trạng thái được chọn cho màu sắc */
.color-option:hover, .color-option.active {
    transform: scale(1.1);
    border: 1px solid gray;
}
.hr6 {
    width: 92%; /* Chiếm 100% chiều rộng của phần tử cha */
    height: 0.5px; /* Độ dày 0.5 pixel */
    border: none; /* Không có viền */
    background-color: #e7e4e4; /* Màu xám nhạt */
    margin-bottom: 25px;
    margin: 40px 11px;
    margin-top: 50px;
    margin-left: 8px;
  
  }


  .h7 img 
  {
      width: calc(100% - 120px);
  }
  
  .h7 ul
  {
      display: flex;
      margin-top: 40px;
      margin-left: 20px;
      margin-right: 20px;
      padding-right: 10px;
  }
  
  .h7 ul li 
  {
      list-style-type: none;
      padding-left: 30px;
  }
  
  .h7 ul li a 
  {
      text-decoration: none;
  }
  
  .h7 .h7_1
  {
    width: 400px;
    margin-left: -39px;
    line-height: 1.7;
  }
  
  .h7 .h7_1 .h7_12{
      margin-top: 25px;
  }
  .h7 .h7_2{
      width: auto;
      margin-left: 20px;
      margin-right: -75px;
  }
  
  
  
  
  .h7 .h7_2 .h7_22
  {
      margin-bottom: 13px;
  }
  
  .h7 .h7_2 .h7_22_information
  {
      margin-top: 6px;
      font-size: 14px;
      font-family:MuliDisplayVN;
      color: grey;
  }
  .h7_22_information:hover{
      color: black;
      cursor: pointer;
  }
  
  .h7 .h7_2 img
  {
      width: 410px;
  }
  
  .fa-play {
    color: gray; /* Đặt màu thành xám */
    font-size: 5px; /* Điều chỉnh kích thước */
    margin-left: 5px; /* Tạo khoảng cách với nội dung */
    vertical-align:auto;
  }
  .h7 .h7_3{
      width: auto;
  }
  .h7 .h7_3 .h7_33
  {
      margin-bottom: 12px;
      margin-left: 86px;
  }
  
  .h7 .h7_3 img
  {
      width: 410px;
      margin-left: 86px;
  }
  
  .h7_33_information {
      display: flex; /* Hiển thị theo hàng ngang */
      list-style-type: none; /* Xóa dấu đầu dòng */
      padding: 0; /* Xóa khoảng cách mặc định */
      margin-top: -2px; /* Khoảng cách từ tiêu đề đến danh sách */
  }
  
  .h7_33_information li {
      margin-right: 50px;/*khoang cách giữa các biểu tượng*/
      margin-top: -35px;
      margin-left: -50px;
      font-size: 19px;
     
  }
  
  .h7_33_information li:last-child {
      margin-right: 0; /* Không thêm khoảng cách cho phần tử cuối cùng */
  }
  





.h8 
{
    margin-top: 40px;
    text-align: center;
    margin-left: -94px;
    margin-bottom: -66px;

}
.h8 .h8_1 ul
{
    display: flex;
    background-color: rgb(245, 245, 245);
    /*width: 1518px;*/
    height: 76px;
    margin-top: -15px;
    margin-bottom: 13px;
}

.h8 .h8_1 ul li 
{
    list-style-type: none;
    margin-top: 15px;
}

.h8 .h8_1 .h8_1_1 
{   font-family:MuliDisplayVN;
    font-weight: 500;
    font-size: 13px;
    margin-left: 110px;
    position: relative;
    margin-top: 15px;
}

.h8 .h8_1 .h8_1_2
{
    font-family:MuliDisplayVN;
    font-weight: 500;
    margin-left: 230px;
    position: relative;
    margin-top: 15px;
}
.h8 .h8_1_2{
    font-size: 13px;
    left: 75px;
}
.h8 .h8_1 ul li p 
{
    font-size: 13px;
} 

.h8 .h8_1 ul li i 
{
    position: absolute;
    right: -16px;
    margin-top: 3px;
    top: 0px;
    cursor: pointer;
}
.h8 .h8_1 a
{
    text-decoration: none;
    color: black;
}
.h8 .h8_2_1 p{
    font-family:MuliDisplayVN;
    font-size: 13px;
}

.h8 .h8_2
{
    display: inline-flex;
    margin-top: 20px;
    width: 1300px;
    margin-right: -5px;
}


.h8_2_1 {
    display: flex; /* Hiển thị theo hàng ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 15px 0;
    margin-top: -51px;
    margin-left: -10px;
}
.h8_2_1 i {
    margin-right: 4px; /* Khoảng cách giữa biểu tượng và văn bản */
}
.fa-chevron-down{
    font-size: 10px;
}


.h8 .h8_2 .h8_2_2
{
    font-size: 13px;
    float: right;
    padding-left: 800px;
    margin-top: -20px;
}

.h8 .h8_2 .h8_2_2 img
{
    padding-left: 95px;
    width: 195px;
    margin-right: -129px;
    margin-top: 0;
}

.h8 .h8_2_2 p 
{
    font-family:MuliDisplayVN;
    margin-top: 2.5px;
    font-size: 13px;
    position: relative;
    left: 69px; /* Điều chỉnh giá trị để nhích chữ qua phải */
}


.return {
    position: fixed;
    bottom: 57px; /* Đặt vị trí gần cuối trang */
    right: -6px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    opacity: 0; /* Ban đầu là ẩn */
    cursor: pointer;
    text-align: center;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Thêm hiệu ứng visibility */
}
.return-text {
    width: auto; /* Giảm kích thước hình ảnh */
    height: 140px; /* Giảm chiều cao của hình ảnh */
    object-fit: contain; /* Đảm bảo ảnh không bị méo */
    background-color: transparent; /* Đảm bảo không có nền phía sau ảnh */

}

.user 
{
    padding-left: 30px;
    border: 1px solid black;
    width: 600px;
    background-color: white;
    height: 100%;
    z-index: 1000;
    position: fixed; /* Đặt div cố định trên màn hình */
    top: 20px; /* Cách mép trên 20px */
    right: 20px; /* Cách mép phải 20px */
}



.giohang 
{
    margin-bottom: 5px;
}

.giohang_information 
{
    margin-bottom: 10px;
}

.giohang_status 
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.totalprice 
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 20px;
}

.user a 
{
    text-decoration: none;
    color: white;
}

.user .link 
{
    background-color: gray;
    text-align: center;
    padding: 10px;
}

.user i 
{
    position: absolute;
    font-size: 30px;
    top: 50px;
    right: 20px;
    cursor: pointer;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%); /* Trượt thanh trắng lên */
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease; /* Hiệu ứng chuyển động */
  }
.navbar.show {
    transform: translateY(0); /* Trượt xuống khi cuộn */
    opacity: 1; /* Hiển thị thanh trắng */
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Đổ bóng khi cố định */
}